<div class="input-group">
    <input type="text" (click)="toggle()" [(ngModel)]="_inputValue" class="form-control" style="border-right:0;" (change)="search()">
    <div class="input-group-append">
        <span *ngIf="_inputValue" class="input-group-text material-icons" style="
            cursor: pointer;
            border-right:0;border-left:0;background-color: white;" (click)="onSelect(null)">close </span>
        <span class="input-group-text material-icons" id="basic-addon2">
            search
        </span>
    </div>
</div>


<div *ngIf="isOpen" style="width: min-content;">
    <mat-card>
        <app-grid [config]="config.grid" (onSelect)="onSelect($event)"></app-grid>
    </mat-card>

</div>